.keypad {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--color-background-toggle);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 13px;
  row-gap: 17px;
  @media (min-width:768px){
    padding: 32px;
    column-gap: 24px;
    row-gap: 28px;
  }
}
.key{
  cursor: pointer;
  width:100%;
  height:60px;
  border-radius: 4px;
  border:none;
  font-size: 28px;
  font-weight: 700;
  background: var(--color-key-background);
  color:var(--color-text-dark);
  box-shadow: 0px 4px 0px var(--color-key-shadow);
  
  &:hover{
    transform: translateY(1px);
    box-shadow: 0px 3px 0px var(--color-key-shadow);
  }
  &--alt{
  background: var(--color-key-background-alt);
  color:var(--color-text-light);
  box-shadow: 0px 4px 0px var(--color-key-shadow-alt);
  font-size:16px;
  text-transform: uppercase;
    &:hover{
      box-shadow: 0px 3px 0px var(--color-key-shadow-alt);
    }
}
  &__wider{
    grid-column: span 2;
    width:100%;
  }
  &--toggle{
    background: var(--color-key-toggle);
    color:var(--color-text-light);
    box-shadow: 0px 4px 0px var(--color-key-toggle-shadow);
    font-size:16px;
    text-transform: uppercase;
    &:hover{
      box-shadow: 0px 3px 0px var(--color-key-toggle-shadow);
    }
  }
  @media (min-width:768px){
    border-radius: 8px;
  }
}
